body {
  font-family: Arial, sans-serif;
  background-color: #9ab78a;
  color: #63a788;
}

header {
  background-color: #7fa77e;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Evanston Alehouse 1858", Arial, sans-serif;
  font-size: 32px;
  color: #d9cf95;
  margin: 0;
}

main {
  padding: 20px;
}

.hero {
  background-color: #7fa77e;
  padding: 40px;
  text-align: center;
}

h2 {
  font-family: "Evanston Alehouse 1858", Arial, sans-serif;
  font-size: 24px;
  color: #d9cf95;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d9cf95;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: #73bc9b;
}

.featured-products {
  margin-top: 40px;
}

h3 {
  font-family: "Evanston Alehouse 1858", Arial, sans-serif;
  font-size: 20px;
  color: #d9cf95;
  margin-top: 0;
}

.product {
  background-color: #7fa77e;
  padding: 20px;
  margin-bottom: 20px;
}

h4 {
  font-family: "Evanston Alehouse 1858", Arial, sans-serif;
  font-size: 18px;
  color: #d9cf95;
}

.eliminarProducto {
  cursor: pointer;
}

.modalButton {
  cursor: pointer;
}

.verCarrito {
  cursor: pointer;
}
